.App {
   
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btn,.slider-container,form,.grid, .generations, .warning{
    margin-top:10px;
    margin-bottom:10px;
}
.generations{
    font-weight:900;
}

.warning {
    color: red;
}
.slider-container{
    width:100%;
}
button{
    margin: 5px;
    width: 100px;
    padding:5px;
    font-size: 16px;
    border-radius: 2px;
    color: #fff;
    background-color: #343a40;
    border-color:#343a40;
    cursor: pointer;
}
button:hover {
    background-color:lightblue;
}
/* button:focus {
    background-color:red;
   
} */

button:focus {
    
    outline:none;
}

button:disabled {
    background-color:grey;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.slider:focus{
    outline:none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:#343a40;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }


input[type=text]{
    display: block;
    /* margin-top:1rem; */
    margin-bottom:1rem;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.0;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.App-header {
  background-color: #282c34;
  min-height: 40px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid{
    
    
    display: grid;
    /* grid-template-columns: repeat(10, 20px); */
    grid-template-columns: repeat(var(--cols), calc( (100vw - 100px) / var(--cols)));

}
.grid-cell {
    border: 1px dotted black;
    height:calc((100vw - 100px) / (var(--cols)));
    
    background-color:lightgray;
}

/* @media screen and (max-width: 500px) {
    .grid-cell {
      height:calc(500 / var(--cols));
    }
    .grid{
        grid-template-columns: repeat(var(--cols), calc(500 / var(--cols)));
    }
  }

  @media screen and (max-width: 800px) {
    .grid-cell {
      height:calc(1200 / var(--cols));
    }
    .grid{
        grid-template-columns: repeat(var(--cols), 15px);
    }
  } */
.grid-cell-alive {
    background-color:green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
